[Desktop Entry]
Encoding=UTF-8
Name=Link to Overview — Matplotlib 2.0.0 documentation
Type=Link
URL=http://matplotlib.org/contents.html
Icon=text-html
