[Desktop Entry]
Encoding=UTF-8
Name=Link to The top level matplotlib module — Matplotlib 2.0.0 documentation
Type=Link
URL=http://matplotlib.org/api/matplotlib_configuration_api.html
Icon=text-html
