[Desktop Entry]
Encoding=UTF-8
Name=Link to pyplot — Matplotlib 2.0.0 documentation
Type=Link
URL=http://matplotlib.org/api/pyplot_api.html
Icon=text-html
