[Desktop Entry]
Encoding=UTF-8
Name=Link to The Matplotlib API — Matplotlib 2.0.0 documentation
Type=Link
URL=http://matplotlib.org/api/index.html
Icon=text-html
