[Desktop Entry]
Encoding=UTF-8
Name=Link to User’s Guide — Matplotlib 2.0.0 documentation
Type=Link
URL=http://matplotlib.org/users/index.html
Icon=text-html
